<div>
    <h2>Bienvenido, aqui puede comprar distintos tipos de bicicleta</h2>
    <form id="formCartID">
        <input type="text" placeholder="Ingrese el ID de su carrito" id="cartID">
        <button type="submit">ingresar a mi carrito</button>
    </form>
    <div class="prodsCardContainer">
        {{#each inheritedProd}}
        <div class="prodsCard">
            <h2>{{title}}</h2>
            <p>R${{price}}</p>
            <p>{{description}}</p>            
            <button type="click" class="btnAddCart" id={{id}}>Agregar al carrito</button>
            
        </div>
            
        {{/each}}
    </div>
        
</div>
<div>
    {{#if (gt currentPage 1)}}
        <a href="/?page={{dec currentPage}}">Anterior</a>
    {{/if}}
    {{#if (lt currentPage totalPages)}}
        <a href="/?page={{inc currentPage}}">Siguiente</a>
    {{/if}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/home.js"></script>